a {
  color: var(--color-violet-700);
  text-underline-offset: 2px;
  text-decoration: underline;
}

/* https://frontendmasters.com/blog/chilled-out-text-underlines/ */
a:not(:is(:hover, :focus)) {
  text-decoration-color: color-mix(in oklch, currentColor, transparent 75%);
}

a:visited {
  color: var(--color-violet-900);
}

a:hover {
  color: var(--color-violet-500);
}

a:active {
  color: var(--color-violet-400);
}
